@media (max-width: 576px) {
    .sec1__header__title {       
        font-size: 1.5vw;
    }
    .sec1__header__45nam {
        width: 15vw;
    }

    .sec1__imgs {        
        top: 22em;       
        width: 95vw;
    }

    .sec1__title {
        top: 91em;
        width: 50vw;
    }
}


@media (max-width: 768px){   

}

@media (min-width: 577px) and (max-width:1024px){
    .sec1{       
        height: 100%;
    }
}

@media (min-width: 769px) and (max-width:1024px){
   
}
